.c-header {
    font-size: 16px;
}

.c-header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.c-header__tab {
    color: #66676e;
    display: inline-block;
    margin-bottom: -3px;
    padding: 21px 10px;
    text-decoration: none;
}

.c-header__link {
    position: relative;
}

.c-header__link:after {
    background: #cccccc;
    border-radius: 50%;
    border-top: 0;
    bottom: -8px;
    content: '';
    display: block;
    height: 8px;
    left: calc(50% - 4px);
    opacity: 0;
    position: absolute;
    transition: all 500ms;
    width: 8px;
}

.c-header__link--active {
    color: #33343b;
}

.c-header__link--active:after {
    border-top: 0;
    bottom: -15px;
    content: '';
    display: block;
    height: 8px;
    opacity: 1;
    position: absolute;
    width: 8px;
}

.c-header__logo {
    flex: 1;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

.c-header__logotext {
    color: #eae9eb;
}

@include mq(1000px) {
    .c-header {
        margin: 0 auto;
        width: 1000px;
    }
}

