@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body,
html {
    color: #66676e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1,
.u-h1 {
    color: #33343b; //TODO Tweak this colour
    font-size: 40px;
    font-weight: $fontBold;
}

h2,
.u-h2 {
    font-size: 25px;
    font-weight: $fontBold;
}

h3,
.u-h3 {
    font-weight: $fontBold;
}

p {
    color: #66676e;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 22px;
}

a {
    background-color: transparent;
    border-bottom: 1px solid #eae9eb;
    color: #66676e;
    text-decoration: none;
    transition-duration: .15s;
    transition-property: color, background, border;
    transition-timing-function: linear;
}

a:hover,
a:focus {
    border-color: #64b5f6;
    color: #33343b;
    outline: none;
}

.u-text--center {
    text-align: center;
}
