.c-tile-nav {
    align-items: center;
    background: #000000;
    background-size: contain;
    color: #ffffff;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 0 auto 15px;
    max-width: 400px;
    position: relative;
    width: 100%;
}

.c-tile-nav__title {
    background: rgba(0, 0, 0, .4);
    color: #ffffff;
    font-size: 25px;
    font-weight: $fontBold;
    opacity: 0;
    padding: 10px;
    text-align: center;
    transition: opacity 300ms linear;
    width: 100%;
}

.c-tile-nav:hover .c-tile-nav__title {
    opacity: 1;
}

.c-tile-nav--gumtree {
    background: #382c42 url(../images/gumtree.png) right no-repeat;
}

.c-tile-nav--yell {
    background: #e6e6e6 url(../images/yell.jpg) center no-repeat;
}

.c-tile-nav--rock {
    background: #e6e6e6 url(../images/rocket.png) center no-repeat;
}

.c-tile-nav--battleship {
    background: #e6e6e6 url(../images/battleship.png) center no-repeat;
}

.c-tile-nav--opentoexport {
    background: #e6e6e6 url(../images/opentoexport.jpg) center no-repeat;
}
