.c-definition-list {
    display: flex;
    flex-wrap: wrap;
}

.c-definition-list__term {
    font-weight: $fontBold;
    margin: 0;
    padding-bottom: 10px;
    width: 40%;

}

.c-definition-list__description {
    margin: 0;
    width: 60%;

}
