.o-layout__body {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 41%, #eaeaea 98%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.o-layout__container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.o-layout__full {
    width: 100%;
}

.o-layout__main {
    width: 100%;
}

.o-layout__secondary {
    width: 100%;
}

.o-layout__tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.o-layout__tile {
    width: 100%;
}

@include mq($from: 680px) {
    .o-layout__tile {
        width: calc(50% - 10px);
    }

}

@include mq($from: 930px) {
    .o-layout__container {
        margin: 0 auto;
        padding: 60px 40px;
        width: 850px;
    }

    .o-layout__main {
        width: 65%;
    }

    .o-layout__secondary {
        width: 30%;
    }
}
