.c-footer {
    background: #222326;
}

.c-footer__nav {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.c-footer__tab {
    display: inline-block;
    padding: 21px 20px;
}

.c-footer__link {
    border-bottom-color: #999999;
    color: #999999;
    display: block;
    text-decoration: none;
    width: 100%;

}

.c-footer__link:hover,
.c-footer__link:focus {
    color: #ffffff;
}

.c-footer__link--active {
    color: #ffffff;
    display: block;
    font-weight: $fontBold;
}


